/*========FONTS=========*/
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

/*=======UNIVERSALS=======*/
.top-space {
  margin-top: 22px;
}

.bottom-pad {
  padding-bottom: 22px;
}

.no-space {
  margin: 0;
}

.no-pad {
  padding: 0;
}

#white-text {
  color: #fff;
}

li {
  list-style-type: none;
}

img {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  box-shadow: 3px 3px 5px #000;
}

img:hover {
  opacity: .4;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

/*======HEADER SECTION======*/
#brand {
  font-family: 'Titillium web';
  font-size: 37px;
}

header {
  background: rgb(95,95,95);
  background: -webkit-linear-gradient(left,rgba(255,0,0,0),rgba(95,95,95,1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(255,0,0,0),rgba(95,95,95,1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(255,0,0,0),rgba(95,95,95,1)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(95,95,95,1)); /*Standard*/
}

#deco {
  border-bottom: none;
  font-weight: bold;
  color: #fff;
}
#deco:hover {
  border-radius: 8px;
  box-shadow: 2px 2px 5px #000;
  color: #000;
}

/*=======HERO SECTION=======*/
.jumbotron {
  background-image: url(../images/forest.jpg);
  height: 600px;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

.jumbotron h1 {
  text-shadow: 2px 2px 5px #000;
}

@media only screen and (max-width: 600px) {
  .jumbotron {
    height: 300px;
  }
}

@media only screen and (max-width: 390px) {
  .heading {
    font-size: 27px;
  }
}

/*=======ABOUT SECTION=======*/
.about {
  background-color: rgba(160, 141, 124, .5);
}

.bio {
  background-image: url(../images/dunes.jpg);
  height: 500px;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #000;
}

.row div div p {
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
}

.med-font {
  font-size: 24px;
}

#refs {
  font-size: 16px;
  padding: 10px;
  color: inherit;
  font-style: italic;
}

#refs:hover {
  text-decoration: none;
  color: #fff;
}

/*==========CONTACT SECTION===========*/
.parchment {
  background-image: url('../images/parchment.jpg');
  height: 550px;
  background-position: center;
  background-size: auto;
  background-attachment: fixed;
}

.map {
  height: 300px;
  width: 450px;
}

.btn-success {
  box-shadow: 2px 2px 2px #000;
}
