/*========FONTS=========*/
@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Amatic+SC|Gloria+Hallelujah|Rajdhani|Sue+Ellen+Francisco|Walter+Turncoat');

/*=======UNIVERSALS=======*/
.top-space {
  margin-top: 33px;
}

.right-space {
  margin-right: 30px;
}

.bottom-space {
  margin-bottom: 30px;
}

.bottom-pad {
  padding-bottom: 22px;
}

.no-space {
  margin: 0;
}

.top-pad {
  padding-top: 165px;
}

.no-pad {
  padding: 0;
}

.pad {
  padding: 20px;
}

.med-font {
  font-size: 13px;
}

body {
  position: relative;
}

li {
  list-style-type: none;
}

.col-xs-12 img {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  box-shadow: 3px 3px 15px #000;
}

.item a img:hover {
  opacity: .4;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

h1 {
  color: #B81727;
  text-shadow: 1px 1px 3px #807C7C;
  font-size: 50px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 19px;
}

.danger {
  border-color: #B81727;
}

/*======HEADER SECTION======*/
#brand {
  font-family: 'Walter Turncoat';
  font-size: 30px;
  color: #B81727;
  text-shadow: 1px 1px 2px #807C7C;
}

header {
  background: rgb(95,95,95);
  background: -webkit-linear-gradient(bottom,rgba(255,254,179, .8),rgba(95,95,95,1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(top,rgba(255,254,179, .8),rgba(95,95,95,1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(top,rgba(255,254,179, .8),rgba(95,95,95,1)); /*Fx 3.6-15*/
  background: linear-gradient(to top, rgba(164,189,252, .4),rgba(95,95,95,1)); /*Standard*/
  border: none;
}

.active:active {
  border-radius: 5px;
  box-shadow: 2px 2px 5px #000;
}

#deco {
  border-bottom: none;
  color: #B81727;
  font-weight: bold;
  font-family: 'Allerta Stencil';
}
#deco:hover {
  border-radius: 8px;
  box-shadow: 2px 2px 5px #000;
  color: #000;
}

/*=======HERO SECTION=======*/
.jumbotron {
  background-image: url('../img/forest.jpg');
  height: 700px;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

.self {
  margin-top: 190px;
  border-radius: 50%;
}

.jumbotron h1 {
  margin-top: 80px;
  color: #B81727;
  text-shadow: 2px 2px 5px #000;
  font-family: 'Walter Turncoat';
}

/*@media only screen and (max-width: 600px) {
  .self {
    margin-top: 150px;
    height: 250px;
  }
}*/

@media only screen and (max-width: 600px) {
  .jumbotron {
    height: 560px;
  }
}

/*=======ABOUT SECTION=======*/
.about-wrapper {
  background-color: rgba(164,189,252, .2);
  box-shadow: 5px 5px 50px #000;
  font-family: 'Walter Turncoat';
}

.bio {
  background-image: url('../img/dunes.jpg');
  height: 520px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 3px 3px 15px #000;
}

.slide-in {
  opacity: 0;
  transition: all 1.5s;
}

.align-left.slide-in {
      transform:translateX(-30%) scale(0.95);
    }

.slide-in.active2 {
  opacity: 1;
  transform: translateX(0%) scale(1);
}

.row div div p {
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
}

.med-font {
  font-size: 24px;
}

#refs {
  font-size: 16px;
  padding: 10px;
  color: inherit;
  font-style: italic;

}

a, a:hover, a:visited, a:focus {
  text-decoration: none;
}

#refs:hover {
  font-weight: bold;
  color: #B81727;
}

.carousel-caption p {
  text-shadow: 1px 1px 4px #000;
}

.carousel-wrapper {
  box-shadow: 2px 2px 14px #000;
}

@media only screen and (max-width: 369px) {
  .bio {
    height: 630px;
  }
}

/*==========CONTACT SECTION===========*/
.parchment {
  background-image: url('../img/parchment.jpg');
  height: 800px;
  background-position: center;
  background-size: auto;
  background-attachment: fixed;
}

.contact {
  font-family: 'Walter Turncoat';
}

label[for="name"]:after {
  content: " *";
  color: #B81727;
}

label[for="email"]:after {
  content: " *";
  color: #B81727;
}

.beacon {
  position: absolute;
  top: 53%;
  left: 47%;
  background-color: #B81;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
}

.beacon:before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  left: 0;
  top: 0;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 2px #B81;
  -webkit-animation: active 2s infinite linear;
  animation: active 2s infinite linear;
}

@-webkit-keyframes active{
  0%{
    -webkit-transform: scale(.1);
    opacity: 1;
  }
  70%{
    -webkit-transform: scale(2.5);
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

@keyframes active{
  0%{
    transform: scale(.1);
    opacity: 1;
  }
  70%{
    transform: scale(2.5);
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}


#maxCharacters {
  font-size: 12px;
}

.btn-success {
  box-shadow: 2px 2px 2px #000;
}

@media (max-width: 1000px) {
  .parchment {
    height: 1100px;
  }
}

@media (max-width: 1000px) {
  .map {
    width: 320px;
  }
}

/*========FOOTER SECTION========*/
footer {
  background: linear-gradient(to top, rgba(95,95,95,1), rgba(164,189,252, .4));
  height: 100px;
}

.fa {
  color: #B81727;
}
