.home {
    height: 100%;
    padding-top: 50vh;
    overflow: hidden;
    align-items: center;
    text-align: center;
    background: 
        linear-gradient(
            to right,
            rgba($primary-color, .7),
            rgba($primary-color, .3)
        );
    
    background-repeat: no-repeat;

    &__name {
        font-size: 5rem;
        padding-bottom: 1rem;
        margin-top: 1rem;
        border-bottom: 2px solid set-text-color($primary-color);

        &--last {
            color: $secondary-color;
        }
    }
}