@include media-sm {
    
    .home {
        padding-top: 31vh;
        
        &__name {
            font-size: 3rem;
            padding-bottom: 1rem;
            margin-top: 1rem;
            border-bottom: 2px solid set-text-color($primary-color);

            &--last {
                color: $secondary-color;
                font-weight: 500;
            }
        }
    }
}

@include media-md {
    .home {
        
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% -100px;
        padding-top: 70vh;

        &__name {
            font-size: 4rem;
        }
    }

    .menu-btn {
        visibility: hidden;
    }

    .nav {
        visibility: visible;

        .menu {
            display: grid;
            grid-template-columns: auto auto auto auto;
            justify-content: space-around;
            height: 100%;
            background: transparent;
            position: relative;
            left: 0;
            top: 0;
            transform: translateY(0);

            &-item a {
                padding-top: 3rem;
                font-size: 1.25rem;
            }
        }
    }

    .about__bio-image {
        height: 70vh;
    }

    .projects {

        &__items {
            grid-template-columns: repeat(2, 1fr);
        }
    }

}

@include media-lg {
    .nav {
        .menu-item a {
            padding-top: 2.5rem;
            font-size: 2rem;
        }
    } 

    .projects {
        &__items {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .about__bio-image {
        height: 80vh;
    }
}